table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.inline {
    display: inline;
}
p{
    display: inline;
    padding-left: 1em;
}
img{
    height: 80px;
    width: 90px;
}
body{
    background-image:url("img/blured_backround.jpg")  ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

}
.lid{
    width: 44em;
    height: 9em;
    margin-bottom: -43px;
    z-index: 3;
}
* {
    font-family: "Permanent Marker", sans-serif;
}
.card {
}
.coffee-container {
    z-index: 4;
}

