table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}


html, body {
    margin: 0;
    padding: 0;
}

.inline {
    display: inline;
}
p{
    display: inline;
    padding-left: 1em;
}